Django==4.0.4
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
imutils==0.5.4
keras==2.8.0
Keras-Preprocessing==1.1.2
numpy==1.22.3
opencv-python==4.5.5.64
pyodbc==4.0.32
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109

